// colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$blue:    #2F5B7A !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #BE494B !default;
$orange:  #fd7e14 !default;
$yellow:  #E7C34E !default;
$green:   #3FA07E !default;
$teal:    #20c997 !default;
$cyan:    #6593C1 !default;


// Body
$body-bg: #f5f8fa;
//$body-color:     $gray-700 !default;
$body-color:     #636b6f !default;

// Typography
$font-family-sans-serif: "Roboto Condensed", sans-serif;
$font-size-base: .92rem;
$line-height-base: 1.5;
$small-font-size:             85% !default;

$headings-font-family: "Roboto Condensed", sans-serif;

// Buttons


// Borders
$border-radius:        .12rem !default;
$border-radius-lg:      .18rem !default;
$border-radius-sm:       .1rem !default;

// Inputs

// Panels


// Form states and alerts
$state-danger-text:             $red;
$text-muted:                  $gray-500 !default;
$input-placeholder-color:               $gray-400 !default;


// Navbar



