
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=greek");

// admin scss variables overide any other variable
@import "variables-admin";

// Bootstrap  + CoreUi template load
@import "../core-ui_tpl/scss/core-ui";

@import "~font-awesome/css/font-awesome.min.css";

@import "~selectize/dist/css/selectize.bootstrap3";
@import "~@fancyapps/fancybox/src/css/core";
@import "~@fancyapps/fancybox/src/css/thumbs";
@import "~@fancyapps/fancybox/src/css/share";
@import "~@fancyapps/fancybox/src/css/fullscreen";
@import "~@fancyapps/fancybox/src/css/slideshow";


/*******************************************/
/* EXTRA ADMIN STYLES                      */
/* *****************************************/


.clear {clear:both;}

.cursor-pointer {cursor:pointer;}

.cursor-disabled {cursor: not-allowed;}


div.has-error .cke_chrome {
    border: 1px solid $red;
}

.gray-out {opacity:0.5;}

/********************************************/

