
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=greek");

// Variables
@import "variables-admin";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";

@import "~selectize/dist/css/selectize.bootstrap3";
@import "~@fancyapps/fancybox/src/css/core";
@import "~@fancyapps/fancybox/src/css/thumbs";
@import "~@fancyapps/fancybox/src/css/share";
@import "~@fancyapps/fancybox/src/css/fullscreen";
@import "~@fancyapps/fancybox/src/css/slideshow";


/*******************************************/
/* COMMON STYLES                           */
/* *****************************************/


.clear {clear:both;}

.cursor-pointer {cursor:pointer;}

.cursor-disabled {cursor: not-allowed;}


div.has-error .cke_chrome {
    border: 1px solid $state-danger-text;
}

.gray-out {opacity:0.5;}

/********************************************/

#sidebar-wrapper {
    width:200px;
    background:#333;
    float:left;
}

#page-content-wrapper {

}