
// Fonts
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Tinos:400,700&subset=greek");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~selectize/dist/css/selectize.bootstrap3";
@import "~@fancyapps/fancybox/src/css/core";
@import "~@fancyapps/fancybox/src/css/thumbs";
@import "~@fancyapps/fancybox/src/css/share";
@import "~@fancyapps/fancybox/src/css/fullscreen";
@import "~@fancyapps/fancybox/src/css/slideshow";



.clear {clear:both;}

div.has-error .cke_chrome {
    border: 1px solid $state-danger-text;
}

.gray-out {opacity:0.5;}

.previous-link-title {
line-height: 18px;
font-size: 14px;
display: block;
padding: 8px 0;
font-weight: 300;
}

.next-link-title {
line-height: 18px;
font-size: 14px;
display: block;
padding: 8px 0;
font-weight: 300;
}